.container {
    /*min-height: 100vh;*/
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    place-items: center;
    padding: 10px;
}

.label {
    padding: 5px;
    display: block;
}

.date_picker {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    width: 190px;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title, .description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}